/* controls window */
div.controls {
  position: absolute;
  padding: 0px;
  background: #222;
  opacity: 0.70;
  cursor: default;
  color: #bbb;
  font-size: 65%;
  font-weight: normal;
  margin: 0;
  z-index: 2;
 -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
div.controls:hover {
  opacity: 0.95;
}

div.conarea, div.opaarea, div.gamarea, div.mmarea {
      text-align: left;
      background: transparent;
      border: 1px solid #bbbbbb;
      height: 12px;
      margin-left: 4px;
      margin-right: 32px;
}

div.blendarea {
      background: transparent;
      border: 1px solid #bbbbbb;
      position: absolute;
      right: 5px;
      width: 12px;
}

div.minarea {
      position: relative;
      text-align: left;
      background: transparent;
      border: 1px solid #bbbbbb;
      width: 42%;
      height: 12px;
      top: -31px;
}

div.maxarea  {
      position: relative;
      margin-right: 0px;
      background: transparent;
      border: 1px solid #bbbbbb;
      width: 42%;
      height: 12px;
      top: -45px;
      left: 50%;
}
div.conknob, div.opaknob, div.gamknob, div.minknob, div.maxknob {
      color: white;
      height: 12px;
      width: 8px;
      background: white;
      cursor: move;
      margin: 0px;
      box-shadow: inset -1px -2px 2px rgba(0,0,0,0.5), 2px 2px 5px rgba(0,0,0,0.8);
}

div.blendknob {
      color: white;
      height: 8px;
      width: 12px;
      background: white;
      cursor: move;
      margin: 0px;
      box-shadow: inset -1px -2px 2px rgba(0,0,0,0.5),  2px 2px 5px rgba(0,0,0,0.8);
}

.text {
    margin: 1px;
}

p.mintext {
      position: relative;
      /*left: 50%;*/
      top: 10px;
}

p.maxtext {
      position: relative;
      left: 50%;
      top: -25px;
}

input {
    width:35px;
}

