/* controls window */
div.controls {
  padding: 3px;
  background: #222;
  opacity: 0.65;
  cursor: default;
  color: #bbb;
  font-size: 65%;
  font-weight: normal;
  width: 20%;
  position: absolute;
  border: 4px inset grey;
  min-width: 150px;
}
div.controls:hover {
  opacity: 0.95;
}

div.conarea, div.opaarea, div.gamarea, div.mmarea {
      text-align: left;
      background: transparent;
      border: 1px solid #bbbbbb;
      width: 90%;
      height: 12px;
      margin-left: 0;
      margin-right: auto;
}

div.minarea {
      position: relative;
      text-align: left;
      background: transparent;
      border: 1px solid #bbbbbb;
      width: 42%;
      height: 12px;
      top: -31px;
}

div.maxarea  {
      position: relative;
      margin-right: 0px;
      background: transparent;
      border: 1px solid #bbbbbb;
      width: 42%;
      height: 12px;
      top: -45px;
      left: 50%;
}
div.conknob, div.opaknob, div.gamknob, div.minknob, div.maxknob {
      color: white;
      height: 12px;
      width: 8px;
      background: white;
      cursor: move;
      margin: 0px;
           }

.text {
    margin: 1px;
}

p.mintext {
      position: relative;
      /*left: 50%;*/
      top: 10px;
}

p.maxtext {
      position: relative;
      left: 50%;
      top: -25px;
}

input {
    width:50px;
}

.controls .toolbar {
  height: 8px;
  cursor: move;
  width: 100%;
  opacity: 0.8;
  /* Cross browser CSS gradients from http://www.colorzilla.com/gradient-editor/ */
  background: #a9aba6; /* Old browsers */
  background: -moz-linear-gradient(top, #a9aba6 0%, #c0c2be 22%, #d5d5d2 33%, #e2e1dd 44%, #ededed 56%, #bebec1 67%, #c3c3c2 78%, #a1a4a0 89%, #878686 100%) repeat-x; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9aba6), color-stop(22%,#c0c2be), color-stop(33%,#d5d5d2), color-stop(44%,#e2e1dd), color-stop(56%,#ededed), color-stop(67%,#bebec1), color-stop(78%,#c3c3c2), color-stop(89%,#a1a4a0), color-stop(100%,#878686)) repeat-x; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Opera11.10+ */
  background: -ms-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#6f706d',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* W3C */
}

.controls .toolbar:hover { opacity: 1.0 }

